<!-- card co as amostra do cardapio  -->

<section class="menu-section">
    <h2>Veja Nosso Menu</h2>
    <div class="menu-cards">
      <div class="menu-card">
        <img src="icons/coffe.png" alt="Breakfast Icon">
        <h3>Café da Manha </h3>
        <p>Comece o dia com energia: uma seleção de pães frescos, frutas da estação e deliciosas opções quentes preparadas com carinho.</p>
        <a href="/menu">Explore o Menu</a>
      </div>
      <div class="menu-card">
        <img src="icons/main.png" alt="Main Dishes Icon">
        <h3>Pratos principais </h3>
        <p>Sabores que conquistam: pratos elaborados com ingredientes frescos e toques especiais para uma experiência gastronômica única.</p>
        <a href="/menu">Explore o Menu</a>
      </div>
      <div class="menu-card">
        <img src="icons/drinks.png" alt="Drinks Icon">
        <h3>Drinks</h3>
        <p>Finalize com doçura: tentações caseiras e clássicos reinventados, perfeitos para um momento de puro prazer</p>
        <a href="/menu">Explore o Menu</a>
      </div>
      <div class="menu-card">
        <img src="icons/icecream.png" alt="Desserts Icon">
        <h3>Sobremesas</h3>
        <p>Nossa sobremesa é a combinação perfeita de sabor e frescor, garantindo um final doce e inesquecível para sua experiência no restaurante.</p>
        <a href="/menu">Explore o Menu</a>
      </div>
    </div>
  </section>

  <!-- -------------------amostra healthy food -------------------------------------------- -->

  <section class="food-section">
    <div class="image-container">
      <img src="images/tacos.png" alt="Food">
      <div class="info-card">
        <h3>Venha nos Visitar</h3>
        <p>📍Av. Oceânica, 297 - Barra, Salvador - BA,</p>
        <p>📍Av. Lafayete Coutinho, 1010 - Comércio, Salvador - BA,</p>
        <p>📍R. Pedra da Sereia, 66 - 1 Andar - Rio Vermelho, Salvador-BA</p>
      </div>
    </div>

    <div class="text-container">
      <h2>Oferecemos comida saudável para sua família.</h2>
      <p>
        Nossa história começou com a visão de criar uma experiência gastronômica única, que combina alta gastronomia, serviço excepcional e um ambiente vibrante. Enraizados na rica cultura culinária da cidade, buscamos honrar nossas origens locais enquanto incorporamos sabores globais.      </p>
      <p>
        No Vitorias, acreditamos que jantar não é apenas sobre a comida, mas também sobre a experiência como um todo. Nossa equipe, conhecida pelo calor e dedicação, se esforça para tornar cada visita inesquecível.
      </p>
      <a href="/sobre">Mais sobre</a>
    </div>
  </section>

  <!-- ---------------------------card  eventos qu efazem ----------------------- -->

  <section class="services-section">
    <h2>Também oferecemos serviços exclusivos para seus eventos</h2>
    <div class="services-cards">
      <div class="service-card">
        <img src="images/caterings.png " alt="Caterings">
        <h3>Serviço de bufê</h3>
        <p>Bufê completo com toque de excelência: pratos elaborados, apresentação impecável e sabores que encantam todos os paladares.</p>
      </div>
      <div class="service-card">
        <img src="images/birthdays.png" alt="Birthdays">
        <h3>Aniversários</h3>
        <p>Celebre momentos únicos com a nossa gastronomia, enquanto caminhamos para o futuro com segurança e inovação.</p>
      </div>
      <div class="service-card">
        <img src="images/weddings.png" alt="Weddings">
        <h3>Casamentos</h3>
        <p>Sua união merece um toque especial: criamos experiências memoráveis, alinhadas com a certeza de um futuro brilhante.</p>
      </div>
      <div class="service-card">
        <img src="images/events.png" alt="Events">
        <h3>Eventos</h3>
        <p>Eventos únicos merecem gastronomia exclusiva: cardápios assinados e atendimento diferenciado para ocasiões especiais.</p>
      </div>
    </div>
  </section>

  <!-- ---------depoimentos dos clientes -------------- -->

  <section class="testimonials-section">
    <h2>O que nossos clientes dizem</h2>
    <div class="testimonials-cards">
      <div class="testimonial-card">
        <h3>“O melhor restaurante”</h3>
        <p>Ontem à noite, jantamos no Vitorias e ficamos simplesmente maravilhados. Desde o momento em que entramos, fomos envolvidos por uma atmosfera acolhedora e recebidos com sorrisos calorosos.</p>
        <div class="customer-info">
          <img src="https://randomuser.me/api/portraits/women/44.jpg" alt="Sophie Robson">
          <div>
            <strong>Sophie Oliveira</strong>
            <p>Salvador-BA</p>
          </div>
        </div>
      </div>

      <div class="testimonial-card">
        <h3>“Simplesmente delicioso”</h3>
        <p>O Vitorias superou todas as minhas expectativas. O ambiente era aconchegante e descontraído, perfeito para nosso jantar de aniversário. Cada prato foi preparado com maestria e lindamente apresentado.</p>
        <div class="customer-info">
          <img src="https://randomuser.me/api/portraits/men/46.jpg" alt="Matt Cannon">
          <div>
            <strong>Martim Campos</strong>
            <p>Salvador-BA</p>
          </div>
        </div>
      </div>

      <div class="testimonial-card">
        <h3>“Um restaurante único”</h3>
        <p>A experiência gastronômica no Vitorias é incomparável. O ambiente é vibrante, a comida — nada menos que extraordinária. Os pratos foram o ponto alto da nossa noite. Recomendamos fortemente!</p>
        <div class="customer-info">
          <img src="https://randomuser.me/api/portraits/women/68.jpg" alt="Andy Smith">
          <div>
            <strong>Adriana Muller</strong>
            <p>Salvador-BA</p>
          </div>
        </div>
      </div>
    </div>
  </section>



  