<footer class="footer">
  <div class="footer-content">
    <div class="footer-column">
      <h3 class="footer-logo">
        <img src="images/logofoo.png" alt="">Vitorias Bistro
      </h3>
      <p>O melhor Restaurante de Salvador </p>

      <div class="social-icons">
        <a href="https://www.tiktok.com/"><img src="https://cdn-icons-png.flaticon.com/512/3046/3046121.png"
            alt="Facebook"></a>
        <a href="https://www.instagram.com/"><img src="https://cdn-icons-png.flaticon.com/512/733/733558.png"
            alt="Instagram"></a>
        <a href="https://br.pinterest.com/"><img src="https://cdn-icons-png.flaticon.com/512/733/733646.png"
            alt="Pinterest"></a>
      </div>
    </div>

    <div class="footer-column">
      <h4>Pages</h4>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/sobre">Sobre</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/receitas">Receitas</a></li>
        <li><a href="/contato">Contato</a></li>

      </ul>
    </div>


    <a class="linker-insta"   href="https://www.instagram.com/">
      <div class="footer-column">

        <h4>Nosso Instagram</h4>

        <div class="instagram-galleria">
          <img src="images/bolochoco.png" alt="Food 1">
          <img src="images/patro.png" alt="Food 2">
          <img src="images/carneiro.png" alt="Food 3">
          <img src="images/chefmes.png" alt="Food 4">
        </div>

      </div>
    </a>
  </div>
  <p class="footer-copy">Copyright © 2025 Vitorias Bistro. Todos os direitos reservados</p>
</footer>