<app-nav-bar></app-nav-bar>

<app-whatsapp></app-whatsapp>

<section class="food-section">
  <div class="image-container">
    <img src="images/pastacrua.png" alt="Food">
    <div class="info-card">
      <h3>Venha nos Visitar</h3>
      <p>Chefs excepcionais - verdadeiros artistas da gastronomia</p>
      <p>Comida incrível - sabores que surpreendem e satisfazem</p>
      <p>Feito com amor - cada detalhe pensado para você</p>
      
    </div>
  </div>

  <div class="text-container">
    <h2>Cozinha Autêntica.</h2>
    <p>
      No Vitorias Bistro, cada prato é uma celebração do sabor, preparado com maestria pelos nossos chefs talentosos. Aqui, a paixão pela culinária se transforma em experiências gastronômicas memoráveis, onde ingredientes frescos e técnicas apuradas se unem para criar pratos simplesmente deliciosos.
    </p>
    <p>
      Comida maravilhosa, feita por chefs fantásticos, é simples assim! 
    </p>
    
  </div>
</section>


<!-- SECTION DE VIDEO PROMOCIONAL  ----------------------------------------------------------------------->

<section class="video-section">

  <video id="bg-video" class="meu-video" autoplay muted loop playsinline >
    <source src="videos/restpromo.mp4" type="video/mp4">
  </video>

</section>

<section class="card-video">
  <div class="card-video-menor">
    <h3>🍽️ Pratos Delicisos</h3>
    <p>Sabores que conquistam seu paladar a cada mordida!</p>
  </div>
  <div class="card-video-menor">
    <h3>🛒 Atendimento de Qualidade</h3>
    <p>Servimos com sorrisos e atenção que fazem a diferença!</p>
  </div>
  <div class="card-video-menor">
    <h3>🚚 Fast Delivery</h3>
    <p>Seu pedido pronto na velocidade da fome, muito rapido!</p>
  </div>
</section>

<!-- HISOTIRA DO RESTAURANTE ----------------------------------------------------------- -->

<section class="section-historia">
  <div class="section-historia-text">
    <h2>Nossa historias para nosso valiosos clientes </h2>
    <p>
     No Vitorias, acreditamos que uma refeição vai além da comida - é uma experiência completa. Nossa equipe, conhecida pelo calor humano e dedicação, se empenha para transformar cada visita em um momento inesquecível.
    </p>
        <div class="div-info-cards">
          <div class="div-info-cardizinho">
            <h3>3</h3>
            <p>Localidades</p>
          </div>
          <div class="div-info-cardizinho">
            <h3>1995</h3>
            <p>Fundado</p>
          </div>
          <div class="div-info-cardizinho">
            <h3>65+</h3>
            <p>Trabalhadores</p>
          </div>
          <div class="div-info-cardizinho">
            <h3>100%</h3>
            <p>Clientes Satisfeitos</p>
          </div>
        </div>
  </div>

  <div class="historia-image">
    <img src="images/sobreimg.png" alt="Preparing vegetables">
  </div>
</section>

<!-- SESSÃO DA LOCALIDADES  -->


  <section class="locations-section">
  <h2>Localidades</h2>
  <p class="locations-subtitle">
    Sempre tem um Vitorias Bistro perto de você 
  </p>

  <div class="locations-cards">
    <div class="location-card">
      <img src="images/comercio.png" alt="Los Angeles Location">
      <div class="location-info">
        <h3>Barra</h3>
        <p>Av. Oceânica, 297 - Barra, Salvador - BA.</p>
        <p>Ter-Dom: 08:00 - 22:00 </p>
      </div>
    </div>

    <div class="location-card">
      <img src="images/barra.png" alt="San Francisco Location">
      <div class="location-info">
        <h3>Comercio</h3>
        <p>Av. Lafayete Coutinho, 1010 - Comércio, Salvador - BA.</p>
        <p>Ter-Dom: 08:00 - 22:00</p>
      </div>
    </div>

    <div class="location-card">
      <img src="images/riovermelho.png" alt="New York Location">
      <div class="location-info">
        <h3>Rio Vermelho</h3>
        <p>R. Pedra da Sereia, 66 - 1 Andar - Rio Vermelho, Salvador-BA</p>
        <p>Ter-Dom: 08:00 - 22:00</p>
      </div>
    </div>
  </div>
</section>






<!-- CLIENTES DEPOIMENTOS  -->

<section class="testimonials-section">
    <h2>O que nossos clientes dizem</h2>
    <div class="testimonials-cards">
      <div class="testimonial-card">
        <h3>“O melhor restaurante”</h3>
        <p>Ontem à noite, jantamos no Vitorias e ficamos simplesmente maravilhados. Desde o momento em que entramos, fomos envolvidos por uma atmosfera acolhedora e recebidos com sorrisos calorosos.</p>
        <div class="customer-info">
          <img src="https://randomuser.me/api/portraits/women/44.jpg" alt="Sophie Robson">
          <div>
            <strong>Sophie Oliveira</strong>
            <p>Salvador-BA</p>
          </div>
        </div>
      </div>

      <div class="testimonial-card">
        <h3>“Simplesmente delicioso”</h3>
        <p>O Vitorias superou todas as minhas expectativas. O ambiente era aconchegante e descontraído, perfeito para nosso jantar de aniversário. Cada prato foi preparado com maestria e lindamente apresentado.</p>
        <div class="customer-info">
          <img src="https://randomuser.me/api/portraits/men/46.jpg" alt="Matt Cannon">
          <div>
            <strong>Martim Campos</strong>
            <p>Salvador-BA</p>
          </div>
        </div>
      </div>

      <div class="testimonial-card">
        <h3>“Um restaurante único”</h3>
        <p>A experiência gastronômica no Vitorias é incomparável. O ambiente é vibrante, a comida — nada menos que extraordinária. Os pratos foram o ponto alto da nossa noite. Recomendamos fortemente!</p>
        <div class="customer-info">
          <img src="https://randomuser.me/api/portraits/women/68.jpg" alt="Andy Smith">
          <div>
            <strong>Adriana Muller</strong>
            <p>Salvador-BA</p>
          </div>
        </div>
      </div>
    </div>
  </section>


  
<!-- footer  -->
<app-footer></app-footer>